<nav class="header-navbar">
    <% if (currentUser) {%>
        <ul class="header-ul">
            <li class="header-li logout">
              <a href="/demo" style="color: orange;">DEMO LINK</a>
            </li>

            <li class="header-li <%= active[0] %>"><a href="feed" class="<%= active[0] %>"><img src="assets/nav_icons/pets_FILL1_wght400_GRAD0_opsz48-<%= active[0] %>.svg" alt="" class="nav-icon"><p>Feed</p></a></li>

            <li class="header-li <%= active[1] %>"><a href="explore" class="<%= active[1] %>"><img src="assets/nav_icons/explore_FILL1_wght400_GRAD0_opsz48-<%= active[1] %>.svg" alt="" class="nav-icon"><p>Explore</p></a></li>

            <li class="header-li <%= active[2] %>"><a href="/spot" class="<%= active[2] %>"><img src="assets/nav_icons/photo_camera_FILL1_wght400_GRAD0_opsz48-<%= active[2] %>.svg" alt="" class="nav-icon"><p>Spot</p></a></li>

            <li class="header-li <%= active[3] %>"><a href="/clusters" class="<%= active[3] %>"><img src="assets/nav_icons/groups_FILL1_wght400_GRAD0_opsz48-<%= active[3] %>.svg" alt="" class="nav-icon"><p>Clusters</p></a></li>

            <li class="header-li <%= active[4] %>"><a href="/profile" class="<%= active[4] %>"><img src="assets/nav_icons/account_circle_FILL1_wght400_GRAD0_opsz48-<%= active[4] %>.svg" alt="" class="nav-icon"><p>Profile</p></a></li>

            <li class="header-li logout">
                <a href="/logout" class="logout-link">LOG OUT</a>
            </li>
        </ul>
    <% } else { %>
        <ul class="header-ul new-session">
            <li class="header-li login"><a href="/login" class="">Log in</a></li>
            <li class="header-li signup"><a href="/signup" class="">Sign up</a></li>
        </ul>
    <%}%>
</nav>