    <%- include('partials/head.ejs') %>
    <title>Feed | Marcel The Outdoor Cat</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>        
    </header>

    <main class="">
      <p>Feed page</p>
      <div class="">
        <ul class="">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="">
              <!-- <a href="/post/<%= posts[i]._id%>"> -->
                <p><%= posts[i].catName%></p>
                <img class="" src="<%= posts[i].image%>">
                <p><%= posts[i].comment%></p>
              <!-- </a> -->
            </li>
          <% } %>
          </ul>
      </div>
      <img src="assets/demo-Feed.jpg" alt="">
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>